
body {
    font-family: Arial, sans-serif;
    background-image: url('./Images/Vote.jpg');
    background-attachment : fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

/* .container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
} */
.container {
    max-width: 400px;
    margin: 100px auto;
    margin-left: auto;
    margin-right: 10%;
    margin-top: 10%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

p a {
    color: #007bff;
    text-decoration: underline
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}


input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#username,
#password {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* button[type="submit"]:hover {
    background-color: #45a049;
} */
button[type="submit"]:hover {
    background-color: rgb(64, 64, 250);
}